p, body {
  text-align: justify;
  letter-spacing: 1.5px;
  text-align: center;
  font-family: 'Cormorant Garamond'
}

h2, h1{
  text-transform: uppercase;
  letter-spacing: 12;
  text-align: justify;
  text-align: center;
  font-family: 'Cormorant Garamond'
}

blockquote {
  max-width:390px;
  text-align: center;
  border-left: 3px solid #897860;
  padding-left: 5px;
  margin:0 auto;
  width:auto;
  display:table
}

.block {
  display: block;
  width: 100%;
  border: none;
  background-color: black;
  color: white;
  padding: 27px 28px;
  font-size: 22px;
  cursor: pointer;
  letter-spacing: 1.5px;
  text-align: center;
  font-family: 'Cormorant Garamond'
}

.block:hover {
  background-color: #ddd;
  color: black;
}